.App{
    background-image: url("./assets/bg/wave.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: auto;
}

.loading{
    display: grid;
    place-items: center;
    height: 70vh;
    width: 100%;
    margin: auto;
}

/* Nav */
.logo:hover{
    transform: scale(1.2);
    transition-duration: 1s;

}
/* About */
.About{
    display: grid;
    place-items: center;
    height: 50vh;
    width: auto;
    margin: auto;
}
.title{
    font-weight: 700;
}

.rounded{
    height: 500px;
}

/* Contact */